@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Cairo:wght@200&family=Poppins:wght@100&family=Rubik:wght@300&display=swap');
body{
  margin:0;
  font-family: 'Poppins', sans-serif;
  background-color: rgba(23,22,22,255);

 
}